:root {
  --color1: #50C5B7;
  --color2: #c7f7f1;
  --color3: #83e2d9;
}

#root {
  width: 95%;
}

body{ 
  text-align: center;
  font-family: 'Dosis', sans-serif;
  background-color: var(--color2);
  display: flex;
  justify-content: center;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.navElement {
  margin: 0 5px 8px;
  text-decoration: none;
  background-color: var(--color1);
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
}

.navElement:hover {
  color: white;
  background-color: black;
}

form input {
  border-radius: 5px;
  border: 2px solid var(--color1);
  height: 50px;
  margin: 10px 0 5px 0;
}

form textarea {
  border-radius: 5px;
  border: 2px solid var(--color1);
}

form select {
  border-radius: 5px;
  border: 2px solid var(--color1);
  height: 40px;
}

.btnGroup button, form button, .btnGroup .button {
  color: white;
  margin-bottom: 50px;
  border-radius: .15rem;
  padding: 12px;
  text-decoration: none;
  font-weight: 400;
  font-size: 26px;
  background-color: var(--color1);
  box-shadow: inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
  text-align: center;
  position: relative;
  font-family: 'Dosis', sans-serif;
  display: block;
}

.btnGroup button:hover {
  background-color: black;
}

.choresList h3 {
  text-decoration: underline;
}

.choreCard {
  position: relative;
  border: 2px solid var(--color1);
  border-radius: 5px;
  width: 80%;
  background-color: var(--color3);
  padding: 15px 15px 0 15px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.choreCard button {
  margin: 15px 0;
  width: 100%;
  padding: 0 10px;
}

.link {
  text-decoration: none;
}
