.appName {
    position: relative;
    font-size: 76px;
    color: var(--color1);  
}

.open-menu-btn {
    position: absolute;
    top: 0px;
    right: 5px;
    margin: 10px 5px;
    text-decoration: none;
    background-color: var(--color1);
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
}

.open-menu-btn:hover {
    background-color: black;
}

.close-menu-btn {
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 9999;
}

.menu {
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--color3);
    border-left: var(--color1) solid 1px;
    height: 100vh;
    width: 400px;
    max-width: 100vw;
    min-width: 180px;
    z-index: 9998;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.menu-btn {
    margin: 10px 5px;
    width: 70%;
    text-decoration: none;
    background-color: var(--color1);
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
}



/* media queries */
@media screen and (max-width: 500px) {
    .appName {
        font-size: 45px;
    }
  }